body {
    background-color: black;
    font-family: Arial;
    color: #7eddb7;
}

h1 {
    background-color: #2b2b2b;
    padding: 5px;
    margin: 5px;
}

.container {
    background-color: #2b2b2b;
    padding: 5px;
    margin: 5px;
}

.sub-container {
    background-color: #464747;
    padding: 5px;
    margin: 5px;
}

.input-parameter {
    margin: 2px; 
}

#dataParameters {
    margin-left: 5%;
}

#api-form {
    background-color: #464747;
    padding: 12px;
    //margin: 12px;
}